<header>
  <div class="bg-light
              border-bottom
              fixed-top
              mb-3
              navbar
              navbar-expand-md
              navbar-light
              page-header__nav-box-shadow">
    <%= link_to t('.home'), root_url, class: 'navbar-brand' %>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <%= menu %>
    </div>
  </div>
</header>
